<!-- <table>
    <tr>
        <td><a href="/jazzyisking">Home(gh pages)</a></td>
        <td><a href="/jazzyisking/templates/designplan">Design Plan</a></td>
        <td><a href="/jazzyisking/templates/login">Log In</a></td>
        <td><a href="/jazzyisking/templates/signup">Sign Up</a></td>
        <td><a href="/jazzyisking/templates/calendar">Calendar</a></td>
        <td><a href="/jazzyisking/templates/home">Home(Design)</a></td>
    </tr>
</table> -->
























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































