---
---

@import "{{ site.theme }}";


  * {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .layout {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    right: 0px;
    overflow: hidden;
  }
  .image {
    width: 100%;
    height: 100%;
    background: url("/images/v104_15.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 0px;
    overflow: hidden;
  }
  .home {
    width: 99px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 23px;
    left: 47px;
    font-family: Exo;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .calendar {
    width: 147px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 23px;
    left: 197px;
    font-family: Exo;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .itinerary {
    width: 139px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 23px;
    left: 377px;
    font-family: Exo;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .activities {
    width: 150px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 23px;
    left: 549px;
    font-family: Exo;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .login {
    width: 91px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 23px;
    left: 1328px;
    font-family: Exo;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v90_2 {
    width: 456px;
    height: 570px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 220px;
    left: 492px;
  }
  .typePassword {
    width: 161px;
    color: rgba(120,120,120,1);
    position: absolute;
    top: 553px;
    left: 567px;
    font-family: Exo;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .username {
    width: 96px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 353px;
    left: 555px;
    font-family: Exo;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .password {
    width: 90px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 510px;
    left: 558px;
    font-family: Exo;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .loginCenter {
    width: 121px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 256px;
    left: 659px;
    font-family: Exo;
    font-weight: Regular;
    font-size: 48px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .name {
    color: #fff;
  }
  .typeUsername {
    width: 166px;
    color: rgba(120,120,120,1);
    position: absolute;
    top: 404px;
    left: 567px;
    font-family: Exo;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v94_11 {
    width: 325px;
    height: 60px;
    background: rgba(23,64,110,1);
    opacity: 1;
    position: absolute;
    top: 620px;
    left: 555px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .loginButton {
    width: 76px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 630px;
    left: 670px;
    font-family: Exo;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v94_13 {
    width: 334px;
    color: url("../images/v94_13.png");
    position: absolute;
    top: 717px;
    left: 551px;
    font-family: Exo;
    font-weight: Regular;
    font-size: 23px;
    opacity: 1;
    text-align: left;
  }
  .forum {
    width: 111px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 23px;
    left: 740px;
    font-family: Exo;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  