<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
{% seo %}
  </head>
  <body>
    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <!-- <h1>{{ site.title | default: site.github.repository_name }}</h1> -->
        </a>
        <!-- <h2>{{ site.description | default: site.github.project_tagline }}</h2> -->
        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    
    <tr>
      <span class="title">Jazzy Plans</span>
      <a class="homeNav" href="/templates/home">Home</a>
      <!-- <a class="homeNav" href="/jazzyisking/templates/home">Home</a> -->
      <a class="calendarNav" href="/templates/calendar">Calendar</a>
      <!-- <a class="calendarNav" href="/jazzyisking/templates/calendar">Calendar</a> -->
      <span class="itineraryNav">Itinerary</span>
      <a class="activitiesNav" href="/templates/fetchactivities">Activities</a>
      <!-- <a class="activitiesNav" href="/jazzyisking/templates/activities">Activities</a> -->
      <a class="signupNav" href="/templates/signup">Signup</a>
      <!-- <a class="signupNav" href="/jazzyisking/templates/signup">Signup</a> -->
      <a class="loginNav" href="/templates/login">Login</a>
    </tr>
    <br>
    <br>
    <br>
    <br>
  </header>
    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>